<div *ngIf="Condicion">
    <h2>Detalles de la Condicion:</h2>
    <div>
        <label>Id de la Condicion: </label>{{Condicion.CondicionId}}
    </div>
    <div>
        <label id="texto1Name">Operando 1:</label>
        <input id="test1" #test1 [(ngModel)]="Condicion.texto1"/>
        <label id="OperadorName">Operador </label>

        <select id="operadorcombo" #operadorName [(ngModel)]="Condicion.operadorcomparacionId">
            <option *ngFor="let operador of operadorcomporacions"
                    [value]="operador.operadorlogicoId">
                {{operador.name}}
            </option>
        </select>
        <label id="texto2Name">Operando 2:</label>
        <input id="test2" #test2 [(ngModel)]="Condicion.texto2"/>
        <br />
      
    <button id="SaveCondicion" (click)="save()">Guardar</button>
    <button (click)="goBack()">Atras</button>
</div>
