<h2 id="CondicionsStorege"> Condiciones almacenadas </h2>
<div *ngIf="Condicions != undefined">
    <a id="add" [routerLink]="['/addCondicion']" routerLinkActive="active">Añadir una Condicion</a>
    <table id="Condicions">

        <thead>
            <tr>
                <th>Regla</th>
                <th>condicion 1</th>
                <th>condicion 2</th>
                <th>Operando 1</th>
                <th>Operador</th>
                <th>Operando 2</th>
            </tr>
        </thead>
        <tbody>
        <tr data-drag="true" *ngFor="let Condicion of Condicions" [class.selected]="Condicion === selectedCondicion"
            (click)="onSelect(Condicion)">
            <td>{{Condicion.ReglaObj.nombre }}</td>
            <td>{{Condicion.OperadorLogicoObj1.name }}</td>
            <td>{{Condicion.OperadorLogicoObj2.name }}</td>
            <td> {{Condicion.texto1 }} </td>
            <td>{{Condicion.OperadorComparacionObj.name }}</td>
            <td> {{Condicion.texto2 }}  </td>
        </tr>
        </tbody>
      
    </table>
    <label id="label1" >Arrastra aqui las reglas aqui: </label>
    <br />
    <textarea  data-drop="true" rows="10" cols="100"></textarea>
    <div *ngIf="selectedCondicion">
        <h2 id="MessageDetail">
            Condicion seleccionada:
            <br />
            Operando lógico 1: {{selectedCondicion.OperadorLogicoObj1.name }}
            <br />
            Operando lógico 2: {{selectedCondicion.OperadorLogicoObj2.name }}
            <br />
            Operando 1: {{selectedCondicion.texto1 }} 
            <br />
            Operador: {{selectedCondicion.OperadorComparacionObj.name }}
            <br />
             Operando : {{selectedCondicion.texto2 }}  
            <br />
        </h2>
        <button id="edit" (click)="gotoDetail(selectedCondicion)">Editar Condicion</button>
        <button id="delete"
                (click)="delete(selectedCondicion); $event.stopPropagation()">
            Borrar Condicion
        </button>
    </div>
</div>
<div *ngIf="Condicions == undefined">
    <h2>Cargando....</h2>
</div>