<h2 id="reglasStorege"> Reglas almacenadas </h2>
<div *ngIf="reglas != undefined">
    <a id="add" [routerLink]="['/addregla']" routerLinkActive="active">Añadir una receta</a>
    <table id="reglas">

        <thead>
            <tr>
                <th>Operando 1</th>
                <th>Operador</th>
                <th>Operando 2</th>
            </tr>
        </thead>

        <tr *ngFor="let regla of reglas" [class.selected]="regla === selectedregla"
            (click)="onSelect(regla)">
            <td>{{regla.texto1 }}</td>
            <td> {{regla.OperadorComparacionObj.name }} </td>
            <td> {{regla.texto2 }}  </td>
        </tr>
    </table>
    <div *ngIf="selectedregla">
        <h2 id="MessageDetail">
            Regla seleccionada:
            Operando 1: {{selectedregla.texto1 }}
            Operador: {{selectedregla.OperadorComparacionObj.name }}
            Operando 2:  {{selectedregla.texto2 }}
        </h2>
        <button id="edit" (click)="gotoDetail()">Editar regla</button>
        <button id="delete"
                (click)="delete(selectedregla); $event.stopPropagation()">
            Borrar regla
        </button>
    </div>
</div>
<div *ngIf="reglas == undefined">
    <h2>Cargando....</h2>
</div>